# Env file for the project
# kubee should be called from linuxbrew or from the bin directory
# ie from /home/linuxbrew/.linuxbrew/bin/kubee or bin
# deprecated: export PATH=$PWD/bin:$PATH

# Add
export PATH=$PWD/contrib:$PATH